
    body{
      background-color: #FFF;
  }
  .navbar-nav > li > a {
    padding: 0px 0px 0 0;
    text-align: center;
    min-width: 0;
    margin: 5px 0px;
    color: #999;
}
.navbar-nav > li > a > p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*max-width: 70px;*/
}  
.topnav a {
    float: left;
    color: #777;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav{
	border-bottom: none !important;
	box-shadow: 0 0 10px 2px rgba(0,0,0,.50);
	/*margin-bottom: 0px;*/
	z-index: 999999;
}
.topnav-right a{
    float: right;
}
.navbar-nav > li > a.active {
    color: #2C93FF;
}  
.nav li a i{
    font-size: 25px !important;
}
.img-title{
    text-align:center; 
}
.img-title h4{
    line-height: 0;
}
.form-title{
    color: #818286;
    line-height: 12px;
}
.double-line{
    width: 110px;
    position: relative;
    border-bottom: solid 3px #dedfe1;
}
.double-line:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: -3px;
    margin-left: 28px;
    margin-top: 0px;
    width: 56px;
    background: #f54144;
    z-index: 0;
}
.wrap-content {
  width: 100%;
  padding: 0 18px 0 18px;
  margin: 5% auto;
}

.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #aaa;
  transition: all 0.5s;
  line-height: 1;
  font-weight: 400;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 6px 0;
  font-size: 16px;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #f54144;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #555;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}
.btn-pulsa{
    text-transform: uppercase;
    margin-top: 15px;
    background-color: #2C93FF;
    font-size: 15px;
    line-height: 25px;
    border-radius: 3px;
    font-weight: 400;
}
.btn-pulsa:hover{
    background-color: transparent;
    border: solid 1px #2C93FF;
    border-radius: 3px;
    color: #2C93FF;
    transition: all 0.5s;
} 
.select2-selection__rendered{
        color: #aaa;
    font-size: 16px;
    padding-left: 0 !important;
    line-height: initial;
}
@media (max-width: 768px){
    ul.nav li{
        display: inline-block;
    }
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid red; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 9999999 !important;
  animation: spin 2s linear infinite;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999 !important;

  left: 0;
  background-color: rgba(0,0,0,.5);
}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;
  z-index: 9999999 !important;

  position: absolute;
  top: 50%;
  left: 50%;

  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}


  .modal-content {
    min-height:100% !important;
    position:absolute !important;
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important; 
  }
  .modal-body {
    position:absolute !important;
    top:45px !important;
    bottom:45px !important;
    left:0;
    right:0;
    overflow-y:auto;
  }
  .modal-footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
  }